node_modules
**/node_modules
build*
assets
docs
site
venv_win
*.bat
*.sh
*.md
mkdocs.yml
Doxyfile*
*.gcda
*.gcno
report_*
coverage_*
publish_*
release_*
*.log
*.tmp
.git
.gitignore
.pre-commit
.pre-push
inventory.csv
maintenance.csv
COVERAGE_REPORT_GUIDE.md
astyle-options.txt
delete_desktop_ini.*
0-*.bat
1-*.bat
2-*.bat
3-*.bat
4-*.bat
5-*.bat
6-*.bat
7-*.bat
8-*.bat
9-*.bat
10-*.bat
11-*.bat
Dockerfile.frontend
docker-compose.yml